@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "IT";
    Layout = "_Layout";

}

<head>
    <link rel="stylesheet" href="/css/HOMEStyle.css">
    <link rel="stylesheet" href="~/css/style1.css">
</head>
<body>
    <div id="duty_time" class="Home-p1">
        <p class="time-lable">@DateTime.Now.ToString("yyyyMMdd")</p>
    </div>
    <div id="duty_content">
        
        @Html.TextBox("text", ViewData["TodayDuty"],new {@class= "duty_content" })
        <button class="button_style" onclick=@updatetest()>复制</button>
    </div>
</body>
@{
    object updatetest()
    {
        Console.WriteLine("12345677");
        return null;
    }
}