@page
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "IT";
    Layout = "_Layout";

}

<head>
    <link rel="stylesheet" href="/css/HOMEStyle.css">
    <script type="text/javascript" src="/js/test.js"></script>

</head>
<body>
    <div id="duty_time">
        <p>@DateTime.Now.ToString("yyyyMMdd")</p>
    </div>
    <div id="duty_content">
        <textarea name="duty_content" id="duty_content" cols="30" rows="10">
        @for (int lin = 0; lin < ((List<string>)ViewData["TodayDuty"]).Count; lin++)
        {
            var str = ((List<string>)ViewData["TodayDuty"])[lin];
        }

    </textarea>
        <button class="button_style" onclick=@updatetest()>复制</button>
    </div>
</body>
@{
    object updatetest()
    {
        Console.WriteLine("12345677");
        return null;
    }
}