<!DOCTYPE html>

<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>

<body>
    <header>
        <div class="blog-top-bar top-nav-bar">
            <div class="show-border sub-div-show text-center">
                WebCore
            </div>
            <div class="show-border sub-div-show">

            </div>
            <div class="show-border sub-div-show">

            </div>
            <div class="blog-top-status show-border">
                <div class="show-border">
                    <p>注册</p>
                    <p>登陆</p>
                </div>
            </div>
            <div class="blog-top-status show-border">
                <div>
                    <iframe class="blog-html-body-html" src="/htmls/header.html" frameborder="0"></iframe>
                </div>
            </div>
        </div>

    </header><!-- 头部-->
    <div>
        @RenderBody()
    </div>
    <footer class="footer-bar footer-div">
        <div class="footer-tag">
            &copy;@DateTime.Now.Year - WebCore by fursion
        </div>   
    </footer>  
    @await RenderSectionAsync("Scripts", required: false)
    <!--尾部-->
</body>

</html>
