@page
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="/css/style1.css">
<div class="container">
    <nav
        class="Home-p1 navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="duty-title-bar">
            <div class="home-p1-sub">

            </div>
            <div class="home-p1-sub">

            </div>
            <div class="home-p1-sub">

            </div>

        </div>
        <div class="duty-content">



        </div>
    </nav>

</div>
<h2>The time on the server is @DateTime.Now</h2>