<configuration>
  <appSettings>
    <add key ="在线班表" value="https://bytedance.feishu.cn/sheets/KTxRaTxPWpZA7SweQt2Daf"/> 
    <add key ="linklistURl" value="./Config/linklist.json"/> 
    <add key ="TemplateURl" value="./Config/Template.config"/> 
    <add key ="班表" value="./Config/班表.xlsx"/> 
  </appSettings>
</configuration>