#Blue  👨🏻‍💻今日基地IT在岗信息👨🏻‍💻
<at id=all></at>
🌕 白班-15F服务间 08:30-19:30  [胡  欣](https://www.feishu.cn/invitation/page/add_contact/?token=e483d973-2009-462d-bd3f-84b2d3d8ce66&amp;unique_id=O_0-rYWQ7J0GW_hGn_f4Kg==)   
🌕 白班-15F服务间 10:30-22:30  [李刘波](https://www.feishu.cn/invitation/page/add_contact/?token=e30t2aff-f9d5-45ca-bca7-c5490c2aa41e&amp;unique_id=-gJtjH81D2K8Fy5YhBRRjg==)
🌕 白班-40F服务间 08:30-19:30  [杜  洁](https://www.feishu.cn/invitation/page/add_contact/?token=6aasd957-569d-4d7a-b011-90102f680e97&unique_id=afzLl_4y1xhRVoWJ_iNblg%3D%3D)
🌗 中班-40F服务间 10:30-22:30  [陈鸥翔](https://www.feishu.cn/invitation/page/add_contact/?token=38c44a1b-70cd-4891-997a-374d9eb7e6b4&unique_id=cOwEgA7_8GoJb0mOm4Q3tQ%3D%3D)
🌑 夜班-40F服务间 22:00-10:00  [李宇航](https://www.feishu.cn/invitation/page/add_contact/?token=2carf16b-10eb-4082-b8c6-53d63f79af52&unique_id=zUGkXbPxx6V7NcgsRBo8MQ%3D%3D)
---
![](img_v2_f92d0498-f600-4495-8dfc-d26cba00b0bg)
🎯线上值班号一样可以获取帮助哦🎯
!b:p[点击进入线上值班号](https://applink.feishu.cn/client/helpdesk/open?id=6507442273049903373)