<html>
    <head>
        <title>@ViewBag.Title - DJ.fursion</title>
    </head>
    <body>
        <h1>Dj.fursion</h1>
        @RenderBody()
        <footer>
            <p>@@@DateTime.Now.Year - fursion</p>
        </footer>
    </body>
    
</html>